*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* background: linear-gradient(135deg,#1a1a2e 0%,#16213e 100%); */
}
.navbar a{
    text-decoration: none;
    color:rgb(229, 29, 3);
    font-size: 20px;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: bolder;
    font-weight: 1000;
    
}
.navbar{
    width:100%;
    height: 60px;
    display: flex;
    gap: 20px;;
    justify-content: flex-end;
    align-items: center;
    background-color: #667a9a;
    font-style: bold;
   
}
.navbar a:hover{
    color: rgb(66, 26, 118);
    text-decoration: underline;
    border-bottom: #6b8caf 2px solid
    background-color : none;
   
   
   
}
#logo{
    height:50px;
    margin-right: auto;
    margin-left: 20px;
    border-radius: 50%;
}
#homepage{
    width: 400px;
    height: 100vh;
    display: flex;
    margin: auto;
    top: 50px;
    animation: slidein 3s ease-in-out;
    border : white 5px solid;
    box-shadow: rgb(66, 26, 118) 0px 5px 15px;

}
@keyframes slidein {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height:100vh;


}
#homepage1{
    width: 400px;
    height: 400px;
    display: flex;
    margin: auto;
    top: 50px;
    animation: slidein 3s ease-in-out;

}
#watermark {
    position: relative; /* Ensure positioning for animation */
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(58, 13, 83);
    z-index: 2;
    animation: slideInFromLeft 3s ease-out forwards; /* Add animation */
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%); /* Start off-screen to the left */
        opacity: 0;
         /* Start invisible */
    }
    100% {
        transform: translateX(0); /* End at original position */
        opacity: 1;
        background-color: bisque;
         /* Fade in */
    }
}
