html {
    scroll-behavior: smooth;
}
h1{
    color: brown;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30%;  
    padding-left: 20px;
    box-sizing: border-box; 


}
.content-wrapper {
    margin-left: 30%;   
    padding: 1px 20px; 
    box-sizing: border-box;
}

    
ul {  
    list-style-type: none;
    margin-left: 30%;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    
}
#item1{
    float: right;
    margin-left: auto;

}
.active {
    background-color: #ff0000; 
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    
 }

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;

}
#item1 a:hover{
    background-color: #ff2020b9;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
ul li a:hover {
  background-color: #ff2020b9;
}

#main-image {
    position: fixed;
    z-index: -1;
    width: 30%;
    height: 100vh; 
    top: 0;
    left: 0;
}

h2{
    margin-left:0%; 
    margin-right: 10%;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: 30px;
    color: brown;

}
.about{
    margin-left:0%; 
    margin-right: 10%;
    text-align: left;
    font-family: 'Arial Black', sans-serif;
    font-size: 15px;
    color: black;
    padding-left: 32%;

}

.cast-section{
    margin-top: 40px;
    margin-left: 10%;   
    padding: 20px 20px 30px 20px; 
    box-sizing: border-box;
}
.cast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-left:0%; 
    margin-right: 10%;
    padding-left: 32%;

}

#insta{
    font-size: 30px;
    color: brown;
    text-decoration: none;
    
}
.cast-member {
    width: 150px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.cast-member h3{
    color: brown;
    font-family: 'Arial Black', sans-serif;
    font-size: 18px;
    margin: 5px 0;
}
.cast-member h4{
    color: #333333;
}
.cast-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.cast-member img {
    width: 100%;
    height: auto; 
    border-radius: 10px;
}

.cast-member p {
    margin-top: 10px;
    font-weight: bold;
    color: brown;
}
h3{
    margin-left:0%; 
    margin-right: 10%;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: 25px;
    color: brown;

}
.container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-left:0%; 
    margin-right: 10%;
    padding-left: 32%;

}
.container .item {
    min-width: 200px;
    flex: 0 0 auto;
    border: 2px solid #cccccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.container .item img {
    width: 100%;
    border-radius: 10px;
}
.container .item p {
    margin-top: 10px;
    font-weight: bold;
    color: brown;
}

.crew-section{
    margin-top: 40px;
    margin-left: 10%;   
    padding: 20px 20px 30px 20px; 
    box-sizing: border-box;
}
.crew-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-left:0%; 
    margin-right: 10%;
    padding-left: 32%;

}
.crew-img{
    width: 150px;
    height: auto; 
    border-radius: 10px;

}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333333;
    color: white;
    position: relative;
    margin-top: 20px;
    margin-left: 25%;
}
footer p {
    margin: 0;
    font-size: 14px;
}